.jobApplicationsButton {
  margin-top: 30px;
}

.table-row-hoverable:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

#actions {
  display: flex;
  justify-content: center;
}

#actions > * {
  margin: 0px 5px;
}

.table-container {
  height: min-content;
}
